.title{
    text-align: center;
    color: #63b1db;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 120px 0 30px;   /* top, right, bottom, left */
}
.title h2{
    font-size: 36px;
    color: #ffffff;
    margin-top: 5px;
    text-transform: none;
}