.campus{
    margin: 80px;
    width: 90%;
    text-align: center;
}
.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px; 
}
.gallery img{
    width: 23%;
    border-radius: 10px;
}
.campus-btn{
    margin-bottom: 40px; 
    background-color: #1e2841; 
    border: none;
    color: #efefef;
    border-radius: 30px;
    padding: 14px 25px;
    font-size: 16px;
    cursor: pointer;
    outline: 0;
    display: inline-block;
}
/* ------- media query for responsiveness -------- */
@media (max-width: 800px) {
    .gallery{
        flex-wrap: wrap;
    }
    .gallery img{
        width: 45%;
        margin-bottom: 25px;
    }
}
